/* Style Reset */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  overflow-x: clip;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

.no-link-styles {
    color: black;
    text-decoration: none;
}

/* Variables */

/* Primitives */
:root {
    /* Colors */
        /* Neutrals */
        --black: #000000;
        --900: #202020;
        --700: #454545;
        --500: #808080;
        --300: #AAAAAA;
        --100: #CCCCCC;
        --50: #EEEEEE;
        --white: #FFFFFF;

        /* Brand */
        --electric-blue: #1F2BC9;
        --pale-blue: #7CB5E5;
        --pale-blue-accent: #DFF0FF;

    /* Spacing */
    --spacing-0: calc(var(--spacing-1) * 0);
    --spacing-05: calc(var(--spacing-1) * 0.5);
    --spacing-1: 8px;
    --spacing-2: calc(var(--spacing-1) * 2);
    --spacing-3: calc(var(--spacing-1) * 3);
    --spacing-3: calc(var(--spacing-1) * 3);
    --spacing-4: calc(var(--spacing-1) * 4);
    --spacing-5: calc(var(--spacing-1) * 5);
    --spacing-6: calc(var(--spacing-1) * 6);
    --spacing-7: calc(var(--spacing-1) * 7);
    --spacing-8: calc(var(--spacing-1) * 8);
    --spacing-9: calc(var(--spacing-1) * 9);
    --spacing-10: calc(var(--spacing-1) * 10);
    --spacing-11: calc(var(--spacing-1) * 11);
    --spacing-12: calc(var(--spacing-1) * 12);
    --spacing-13: calc(var(--spacing-1) * 13);

    /* Animation Variables */
    --slider1: 0%;
}

/* Tokens */
:root {
    /* Color */
        /* Text */
        --text-primary: var(--900);
        --text-secondary: var(--700);
        --text-inverse: var(--50);
        --text-brand: var(--white);
        --text-brand-primary: var(--electric-blue);

        /* Surface */
        --surface-primary: var(--white);
        --surface-secondary: color-mix(in srgb, var(--50) 25%, rgba(255, 255, 255, 0) 75%);
        --surface-inverse: var(--900);
        --surface-brand: var(--electric-blue);

        /* Border */
        --border-primary: var(--100);

    /* Spacing */
    --spacing-none: var(--spacing-0);
    --spacing-xs: var(--spacing-05);
    --spacing-s: var(--spacing-1);
    --spacing-m: var(--spacing-2);
    --spacing-l: var(--spacing-4);
    --spacing-xl: var(--spacing-6);
    --spacing-2xl: var(--spacing-9);
    --spacing-3xl: var(--spacing-13);
    --spacing-margin: var(--spacing-l);

    /* Radius */
    --radius-none: var(--spacing-0);
    --radius-s: var(--spacing-1);
    --radius-m: var(--spacing-2);
    --radius-l: var(--spacing-3);
}

body {
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: auto; /* Fixes thick fonts */
    font-size: 16px;
}

/* Typography */

@font-face {
    font-family: "roc-grotesk-condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    src: src;
}

@font-face {
    font-family: "input-serif", sans-serif;
    font-weight: 200;
    font-style: normal;
    src: src;
}

@font-face {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    src: src;
}

@font-face {
    font-family: "franklin-gothic-urw-comp", sans-serif;
    font-weight: 400;
    font-style: normal;
    src: src;
}

@font-face {
    font-family: "franklin-gothic-urw", sans-serif;
    font-weight: 400;
    font-style: normal;
    src: src;
}

h1 {
    font-family: input-serif;
    font-size: 3.5em;
    line-height: 1.179em;
    letter-spacing: -0.05em;
    margin-top: 0px;
    margin-bottom: 0.589em;
    color: var(--text-primary);
}

h2 {
    font-family: input-serif;
    font-size: 2em;
    line-height: 1.25em;
    letter-spacing: -0.05em;
    margin-bottom: 0.625em;
    color: var(--text-primary);
}

p {
    font-family: inter;
    font-size: 1em;
    line-height: 1.5em;
    letter-spacing: 0.03em;
    color: var(--text-secondary);
    margin-bottom: 0.75em;
}

caption {
    font-family: inter;
    font-size: 0.75em;
    line-height: 1.333em;
    letter-spacing: 0.03em;
    color: var(--text-secondary);
    margin-bottom: 0.667em;
}

a {
    color: #1F2BC9;
    font-family: inter;
    font-size: 0.875em;
    line-height: 1.4289em;
    letter-spacing: 0.03em;
    text-decoration: none;
}

/* Components */

    /* Buttons */
    a.button-primary, a.button-secondary {
        display: flex;
        transition: 300ms ease-out;
    }

    a.button-primary:hover, a.button-secondary:hover {
        cursor: pointer;

        animation-name: button-hover;
        animation-duration: 500ms;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }

    a.button-primary {
        background: linear-gradient(0.45turn, var(--pale-blue) 0%, var(--electric-blue) 50%, var(--electric-blue) 100%);
        background-size: 150% 150%;
        background-position: bottom right;
        color: var(--text-brand);
    }

    a.button-primary:hover {
        background-position: top left;
    }

    a.button-secondary {
        background: linear-gradient(0.45turn, var(--surface-primary) 0%, var(--surface-primary) 50%, var(--100) 100%);
        background-size: 200%;
        background-position: top left;
        color: var(--text-primary);
        border: 2px solid var(--border-primary);
    }

    a.button-secondary:hover {
        background-position: bottom right;
    }

    a.button-small {
        padding: 10px 28px;
        border-radius: var(--radius-m);
    }

    a.button-large {
        padding: 16px var(--spacing-l);
        border-radius: var(--radius-l);
        font-size: 24px;
        line-height: 32px;
    }

    .button-icon-start {
        margin-right: var(--spacing-s);
    }

    .button-icon-end {
        margin-left: var(--spacing-s);
    }

    @keyframes button-hover {
        0% {
            transform: scale(1, 1)
        }
        20% {
            transform: scale(0.97, 0.97)
        }
        100% {
            transform: scale(1.04, 1.04)
        }
    }

    /*Cards*/
    .card {
        background-color: var(--surface-primary);
        border: 2px solid var(--border-primary);
        overflow: show;
        position: relative;
        border-radius: var(--radius-m);
        margin: var(--spacing-m);
    }

    .card-background {
        background: linear-gradient(to right bottom, var(--pale-blue), var(--electric-blue));
        width: 100%;
        height: 100%;
        position: absolute;
        right: var(--spacing-s);
        top: var(--spacing-s);
        z-index: -10;
        border-radius: var(--radius-m);
    }

    /* Page Title */
    .page-title {
        margin: 0 var(--spacing-margin);
    }

    /* Header */
    nav {
        height: var(--spacing-3xl);
        display: flex;
        padding: 20px var(--spacing-margin);
        position: sticky;
        top: 0;
        background-color: color-mix(in srgb, var(--surface-primary) 80%, #FFFFFF00 20%);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        z-index: 100;
        justify-content: center;
    }

    nav img {
        width: 57px;
    }

    a.header-logo {
        margin-right: var(--spacing-l);
    }

    .breadcrumb {
        line-height: 1em;
        position: relative;
        top: 6px;
        color: var(--text-secondary);
    }

    .breadcrumb-divider {
        padding: 0px 6px;
        position: relative;
        top: 6px;
        color: var(--text-secondary);
    }

    .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    }

    /* Lists */ 
    ul {
        display: flex;
        margin: 0;
        margin-bottom: 12px;
        padding: 0;
    }
    
    ul li {
        list-style-type: none;
        font-family: inter;
        padding: 6px var(--spacing-m);
        background-color: var(--surface-secondary);
        color: var(--text-secondary);
        white-space: nowrap;
        font-size: 0.75em;
        margin: 0 var(--spacing-xs) 6px 0;
        border-radius: var(--radius-m);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(15px);
    }
    
    .skills-list {
        display: flex;
        flex-wrap: wrap;
    }


/* Article */

.article-max-width {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 var(--spacing-margin);
    overflow: visible;
}

/* Title */
.title-section {
    padding-top: 90px;
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

.title-section .title-section-content {
    padding: 0 var(--spacing-margin);
}

.title-section-background {
    background-color: var(--surface-brand);
    height: 100%;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: -1;
}

.title-section-content h1, .title-section-content p, .title-section-content li {
    color: var(--text-brand);
}

.article-image {
    width: 100%;
    margin: 0 auto;
    max-height: 60vh;
    object-fit: contain;
    position: relative;
    border: none;
    border-radius: 0;
    padding-top: 10px;
    overflow: clip;
}

.grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.text-layout {
    margin-top: var(--spacing-3xl);
    margin-bottom: var(--spacing-xl);
    position: relative;
}

.text-layout p {
    min-height: 4em;
    max-width: 40em;
}

.article-number {
    font-size: 240px;
    position: absolute;
    color: var(--50);
    z-index: -1;
    top: 50px;
    left: -50px;
}

/* Conclusion */

.conclusion {
    margin-bottom: var(--spacing-xl);
    padding: var(--spacing-xl) var(--spacing-margin);
    margin-top: var(--spacing-xl);
}

.conclusion-content {
    margin: 0 var(--spacing-margin);
    padding-top: var(--spacing-m);
    border-top: 2px solid var(--border-primary);
    display: grid;
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-xs);
}

.conclusion-note {
    font-family: "input-serif";
}

.conclusion-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.conclusion-buttons a {
    margin-bottom: var(--spacing-xs);
}

.conclusion-signature {
    color: var(--text-brand-primary);
}

/* Footer */

footer {
    padding: 72px 18px;
    position: relative;
}

footer, footer a {
    background-color: var(--surface-brand);
    color: var(--text-brand);
    font-family: inter;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-contact-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-left: 2px solid white;
    padding-left: 18px;
}

.footer-contact-info-container a {
    margin-bottom: var(--spacing-s);
}

footer img {
    padding-right: 36px;
    padding-bottom: 18px;
}

.footer-name {
    color: var(--text-brand);
    position: absolute;
    bottom: var(--spacing-s);
    align-self: flex-end;
    font-size: 12px;
}

/* Breakpoints */
@media (max-width: 950px) {

    /* Footer */
    footer {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-contact-info-container {
        border-left: none;
        padding: 0;
    }

    footer img {
        padding-left: 6px;
    }
}

@media (min-width: 950px) {
    .conclusion-content {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 450px) {
    nav {
        height: 80px;
    }

    a.header-logo {
        margin-right: var(--spacing-m);
        width: 36px;
    }

    :root {
       --spacing-margin: var(--spacing-m); 
    }

    img.article-image {
        width: 100vw;
        padding-top: 0;
        padding: 0;
    }

    .grid-3 {
        grid-template-columns: 1fr;
    }
}

/* Scripting */
.shadowbox {
    cursor: zoom-in;
    max-width: 100vw;
}

.shadowbox.active {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    inset: 0;
    z-index: 1000;
    display: grid;
    cursor: zoom-out;
}

.shadowbox.active img, .shadowbox.active video {
    align-self: center;
    justify-self: center;
    width: 100%;
    height: 100%;
    margin: var(--spacing-s);
    padding: 0 var(--spacing-m);
    max-width: 100vw;
    max-height: 90vh;
}