/* Style Reset */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* Setup */

body {
    margin: 0;
}

/** {
     outline: 1px solid red;
}*/

/* Typography */

@font-face {
    font-family: "roc-grotesk-condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    src: src;
}

@font-face {
    font-family: "input-serif", sans-serif;
    font-weight: 700;
    font-style: normal;
    src: src;
}

@font-face {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    src: src;
}

@font-face {
    font-family: "franklin-gothic-urw-comp", sans-serif;
    font-weight: 400;
    font-style: normal;
    src: src;
}

h1 {
    font-family: input-serif;
    font-size: 60px;
    line-height: 66px;
    letter-spacing: -0.05em;
    margin-top: 0px;
    margin-bottom: 30px;
    text-transform: sentence-case;
}

h2 {
    font-family: input-serif;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -0.05em;
    max-width: 500px;
    margin-bottom: 15px;
}

h3 {
    font-family: 'franklin-gothic-urw-comp';
    font-size: 30px;
    line-height: 105%;
    letter-spacing: 0.05em;
    margin-bottom: 15px;
    margin-top: 10px;
}

p {
    font-family: inter;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.03em;
    max-width: 500px;
    color: #808080;
    margin-bottom: 48px;
}

.white {
    color: white;
}

.gray {
    color: #808080;
}

.m-b30 {
    margin-bottom: 30px;
}

.center-align {
    text-align: center;
}

/* Section Coding */
.title {
    background-color: #0073ae;
    padding: 90px 10% 30px 10%;
}

.full-width {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.text-layout {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 10%;
    padding-right: 10%;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
}

.skill {
    background-color: #F5F5F5;
    padding: 9px 18px;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

button {
    color: white;
    font-family: inter;
    font-size: 18px;
    padding: 18px 32px;
    border: none;
    border-radius: 10px;
    margin: auto 0;
}

.cta-button {
    background-color: #0073ae;
}

.cta-button:hover {
    background-color: #005d8b;
}

.cta-button:active {
    background-color: #00557f;
}

button:hover, .material-symbols-outlined:hover {
    transition: 300ms;
    transform: scale(1.05, 1.05);
    cursor: pointer;
}

button:active, .material-symbols-outlined:active {
    transition: 100ms;
    transform: scale(1.03, 1.03);
}

.more-info {
    display: flex;
    justify-content: center;
}

.thank-you {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% 50px;
}

/* Nav Bar */
nav {
    display: flex;
    padding: 20px 10%;
    position: sticky;
    top: 0;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

nav img {
    max-width: 71px;
    margin-right: 20px;
}

nav h1 {
    font-size: 38px;
    line-height: 100%;
    color: #1F2BC9;
    margin-bottom: 0;
}

nav h3 {
    font-size: 28px;
    line-height: 100%
}

nav button {
    background-color: transparent;
    color: black;
    padding: 10px 20px;
}

nav button:hover, nav .material-symbols-outlined:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.nav-buttons {
    display: flex;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  padding: 0.25em;
  border-radius: 0.2em;
}

.material-symbols-outlined.menu-icon {
    font-size: 48px;
    cursor: pointer;
    display: none;
}

.material-symbols-outlined.close-icon {
    padding: 16px;
}

.nav-mobile-menu {
    position: relative;
}

.nav-mobile-menu-popup {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right: 0;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    filter: drop-shadow(16px 16px 20px rgba(0, 0, 0, 0.2));
    display: none;
    z-index: 150;
}

.nav-brand-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 30px;
}

/* Footer */

footer {
    padding: 72px 18px;
}
footer, footer a {
    background-color: #1F2BC9;
    color: white;
    font-size: 18px;
    font-family: inter;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-contact-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-left: 2px solid white;
    padding-left: 18px;
}

.material-symbols-outlined.email-icon, .material-symbols-outlined.call-icon {
    font-size: 24px;
}

.footer-contact-info {
    display: flex;
    align-items: center;
}

footer img {
    padding-right: 36px;
    padding-bottom: 18px;
}

.call-icon:hover, .call-icon:active {
    transform: none;
    cursor: auto;
}

/* Breakpoints */
@media (max-width: 500px) {
    /* Nav */
    nav h1 {
        font-size: 24px;
    }
    
    nav h3 {
        font-size: 16px;
        line-height: 100%
    }

    nav img {
        width: 48px;
        margin-right: 10px;
    }

    .nav-buttons {
        display: none;
    }

    .material-symbols-outlined.menu-icon {
        display: block;
    }

    /* Footer */
    footer {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 10%;
        padding-right: 10%;
    }

    .footer-contact-info-container {
        border-left: none;
        padding: 0px 0px;
    }

    footer img {
        padding-left: 6px;
    }
}

@media (min-width: 500px) {
    /* Nav */
    .nav-buttons {
        display: flex;
    }

    .material-symbols-outlined.menu-icon {
        display: none;
    }

    .nav-mobile-menu {
        display: none;
    }
}